<div id="carousel-example-generic" class="carousel slide radius-box " data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators ">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item radius-box" ng-class="active" ng-repeat="image in images">
                  <img class="radius-box" src="{{image.url}}" alt="...">
                  <div class="carousel-caption">
                  {{image.text}}
                  </div>
                </div>


                <!-- <div class="item radius-box">
                  <img class="radius-box"  src="images/bg2.jpg" alt="...">
                  <div class="carousel-caption">
                  我是第二页
                  </div>
                </div>
                <div class="item radius-box">
                  <img class="radius-box" src="images/bg3.jpg" alt="...">
                  <div class="carousel-caption">
                  我是第三页
                  </div>
                </div> -->
              
              </div>

              <!-- Controls -->
              <a class="left carousel-control radius-box" href="#" ng-click="prev()" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control radius-box" href="#" ng-click="next()" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>