 <div class="jumbotron">
        <h1>Welcome to my home site</h1>
</div>

<div class="row marketing">
        <div class="col-lg-9">
                <h3>今日话题</h3>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="col-lg-3">
                <h3>快捷工具</h3>
                <div class="col-md-12">
                        
                </div>
        </div>
</div>