
  <div class="row">
    <div class="col-md-12 ">
      <form class="form-signin col-md-3" style="padding-right:5px;" name="loginForm" ng-submit="submit()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
        <label for="inputEmail" >Username</label>
        <input type="email" id="inputEmail" name="username" ng-model="user.username" class="form-control" placeholder="Email address" required autofocus>
      </div>
      <div class="form-group">
        <label for="inputPassword" >Password</label>
        <input type="password" id="inputPassword" name="password" ng-model="user.password" class="form-control" placeholder="Password" required>
      </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
      </form>

      <div class="col-md-9 visible-md-block visible-lg-block" style="padding-left:5px">
          <carousel interval="myInterval" >
              <slide ng-repeat="slide in slides"  active="slide.active">
                  <img ng-src="{{slide.image}}" class="radius-box" style="margin:auto;">
                  <div class="carousel-caption">
                      <p>{{slide.text}}</p>
                  </div>
              </slide>
          </carousel>
    </div>
  </div>
</div> <!-- /container -->

